apiVersion: v1
kind: ConfigMap
metadata:
  name: backend-config
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "webapp-chart.labels" . | nindent 4 }}
data:
  APP_ENV: {{ .Values.backend.config.APP_ENV | quote }}
