# Default values for webapp-chart

# -- Global settings
namespace: webapp

# -- Backend configuration
backend:
  replicaCount: 2
  image:
    repository: ghcr.io/vranajozef/webapp-backend
    tag: sha-9fbcb7e
    pullPolicy: IfNotPresent
  service:
    type: ClusterIP
    port: 5000
    annotations:
      prometheus.io/scrape: "true"
      prometheus.io/port: "5000"
      prometheus.io/path: "/metrics"
  resources:
    limits:
      cpu: 256m
      memory: 128Mi
    requests:
      cpu: 128m
      memory: 64Mi
  # Environment variables from ConfigMap
  config:
    APP_ENV: dev
  # Environment variables from Secret
  secret:
    SECRET_KEY: "super-secret-key-that-should-not-be-present-in-repo"
  autoscaling:
    enabled: true
    minReplicas: 2
    maxReplicas: 5
    targetCPUUtilizationPercentage: 80

# -- Frontend configuration
frontend:
  replicaCount: 2
  image:
    repository: ghcr.io/vranajozef/webapp-frontend
    tag: sha-9fbcb7e
    pullPolicy: IfNotPresent
  service:
    type: ClusterIP
    port: 8080
  resources:
    limits:
      cpu: 128m
      memory: 64Mi
    requests:
      cpu: 64m
      memory: 32Mi
  autoscaling:
    enabled: true
    minReplicas: 2
    maxReplicas: 5
    targetCPUUtilizationPercentage: 80

# -- Ingress configuration
ingress:
  enabled: true
  className: nginx
  host: webapp.local
  tls: []

# -- ServiceAccount
serviceAccount:
  create: true
  name: webapp-sa
